*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        text-decoration: none;
        font-size: 30px;
        /* flex-grow: 1; */
        /* background-color: aqua; */
        /* display: flex; */
}
body{
    background-image: url(./Recursos/estrellas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 1%;
    border: 2px solid rgb(44, 1, 114);
    background-color: rgb(157, 110, 245);
    border-radius: 10px;
    align-items: center;
}
.logo{
    width: 25%;
}

.anc{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    margin: 0.5%;
    font-size: 80%;
    border: 2px solid rgb(44, 1, 114);
    background-color: rgb(49, 2, 94);
    color: azure;
    text-align: center;
    width: 18%;
    height: 80px;
    font-weight: bold;
}
.nav{
    display: flex;
    width: 70%;
    justify-content: end;
    background-color: rgb(157, 110, 245);
}
    
.barra{
    display: flex;
    padding: 1%;
    margin: 1%;
    border: 2px solid rgb(1, 2, 83);
    background-color: rgb(123, 52, 255);
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.flecha{
    /* border: 1px solid black; */
    width: 10%;
}
.selector{
    border-radius: 50%;
    width: 50%;
    border: 1px solid rgb(41, 2, 104);
}
h1{
    display: none;
}
h2{
    color: rgb(25, 1, 80); 
}
.eventos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tarjeta{
    background-color: aquamarine;
    width: 310px;
    height: 380px;
    margin: 10px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 15px;
    text-align: center;
    
}
.img-tarjeta{
    width: 100%;
    height: 60%;
    border-radius: 8px;
    object-fit: cover;
    transition: 1s;
}
.img-tarjeta:hover{
    transform: scale(0.95, 0.95);
}
.descripcion{
    font-size: 70%;
}
.pie-tarjeta{
    display: flex;
    justify-content: space-between;
}
.p-tarjeta{
    font-size: 50%;
}
.info{
    background-color: rgb(50, 6, 90);
    color: blanchedalmond;
    border-radius: 5px;
    padding: 1%;
}
/* -------AQUI COMIENZA FORMULARIO DE CONTACTO--------- */
.container{
    display: flex;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* padding: 10px; */
}
.f-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
    /* color: rgb(238, 231, 253); */
}
.boton{
    display: flex;
    justify-content: end;
    /* margin-top: 5px; */
    color: rgb(1, 1, 51);
}
.etiqueta{
    display: flex;
    color: rgb(237, 228, 253);
    display: flex;
    width: 100%;
    background-color: rgb(1, 1, 77);
}
/* -------AQUI COMIENZA TABLA DE ESTADISTICAS--------- */
.table{
    padding: 20px 100px;
}
.titulo{
    background-color: rgb(165, 165, 253);
    border-collapse: collapse;
    border: 1px solid rgb(205, 205, 255);
}
.tabla{
    border-collapse: collapse;
    border: 1px solid rgb(205, 205, 255);
    background-color: blanchedalmond;
    width: 400px;
}
/* -------AQUI COMIENZA DETALLE DE EVENTO--------- */
.d-eventos{
    display: flex;
    justify-content: center;
}
.d-tarjeta{
    display: flex;
    background-color: aquamarine;
    width: 70%;
    height: 380px;
    margin: 10px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 15px;
    text-align: center;
    
}
.d-img-tarjeta{
    width: 50%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.d-info-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
}
.d-descripcion{
    font-size: 70%;
}
.d-pie-tarjeta{
    display: flex;
    justify-content: space-between;
}
.d-p-tarjeta{
    font-size: 50%;
}
.d-info{
    background-color: rgb(50, 6, 90);
    color: blanchedalmond;
    border-radius: 5px;
    padding: 1%;
}
/* -------AQUI COMIENZA EL PIE DE PAGINA--------- */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 75%;
    color: blanchedalmond; 
    margin: 3%;
    border-top: 3px solid rgb(1, 1, 71); 
}
.bloque-redes{
    display: flex;
}
.redes{
    margin: 5%;
    transition: 0.7s;
}
.redes:hover{
    transform: scale(1.5, 1.5);
}
/* AQUI COMIENZA MEDIA QUERY */
@media only screen and (min-width: 670px) and (max-width: 970px){
    .anc{
        font-size: 55%;
        /* padding: auto; */
        height: 50px;
    }
    .logo{
        width: 30%;
        }        
}
@media only screen and (min-width: 370px) and (max-width: 670px){
    .anc{
        font-size: 30%;
        /* padding: auto; */
        height: 30px;
        transition: 0.5s;
    }
    .anc:hover{
        transform: scale(1.3);
    }
    .logo{
        width: 35%;
        }   
    .container{
        display: flex;
        justify-content: center;
    }  
    .flecha{
        /* border: 1px solid black; */
        width: 15%;
    }   
}